* {
	padding: 0px;

}

body {
	background-color: rgb(114,7,7,0.5);
	background-image: url(../images/outside.jpg);
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn {
	font-family: 'Creepster', cursive;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.game-screen {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 60%;
	height: 60%;
	border-radius: 10%;
	border: 15px solid black;
}
.description {
	text-align: center;
	font-family: 'Mystery Quest', cursive;
	color: white;
}
.progress {
	transform-origin: 0% 100%;
	transform: translate(30px,0px) rotate(-90deg);
	height: 30px;
	width: 50%;
	align-self: left;
	margin-left: 50px;
	margin-top: 10px;
}
.description {
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 60%;
	border-radius: 10%;
}
#survival-timer {
	background-color: black;
	color: white;
	text-align: center;
	width: 10%;
}
.survival-timer {
	align-content: right;
	display: block;
}
.time-left {
	color: white;
}
#fight {
	font-family: 'Creepster', cursive;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#run {
	font-family: 'Creepster', cursive;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
footer {
	text-align: center;
	font-size: xx-small;
	color: white;
}
.title {
	font-family: 'Creepster', cursive;
	color: white;
	text-align: center;
	text-shadow: : 2px 2px 8px #FF0000;
}
.timer-clock {
	width: 15%;
	position: absolute;
}






